:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dialog {
  width: 100%;
  /* border: 5px solid black; */
  align-items: center;
  justify-content: center;

  border: 2px solid green;
  border-radius: 4px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.createform {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: black;
  text-align: center;
}
.description {
  width: 80%;
}
.button {
  display: flex;
  align-self: flex-end;
  gap: 1em;
  /* flex-direction: row; */
}
.submitbutton {
  background-color: #02a783;
  color: white;
}
.submitbutton:hover {
  background-color: #00896c;
}
.cancelbutton {
  background-color: #e50012;
  color: white;
}
.cancelbutton:hover {
  background-color: #cf2333;
}
.custom-select {
  --mat-select-focused-arrow-color: #02a783;
  --mdc-filled-text-field-focus-active-indicator-color: #02a783 !important;
  --mat-option-selected-state-label-text-color: #02a783 !important;
  --mdc-filled-text-field-focus-label-text-color: #02a783;
}
::ng-deep
  .mat-primary
  .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #02a783;
}
