<mat-dialog-content class="mat-typography dialog">
  <h2 class="title">Add Mitigation</h2>
  <form
    class="createform"
    #createform="ngForm"
    (ngSubmit)="addMitigation(createform.value)"
  >
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea matInput ngModel required name="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pre-Mitigation-Score</mat-label>
      <mat-select ngModel required name="Pre_Mitigation_score">
        <mat-option *ngFor="let number of numbers" [value]="number">
          {{ number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Post-Mitigation-Score</mat-label>
      <mat-select ngModel required name="Post_Mitigation_score">
        <mat-option *ngFor="let number of numbers" [value]="number">
          {{ number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button">
      <button mat-raised-button (click)="closeDialogue()">Cancel</button>
      <button mat-raised-button type="submit" style="color: green">
        Submit
      </button>
    </div>
  </form>
</mat-dialog-content>
