body {
  margin-left: 1%;
  margin-right: 1%;
}
table {
  /* width: 100%; */
  border: 1px solid #ced7d4;
}
.mat-cell,
.mat-header-cell {
  text-align: center;
  border-right: 1px solid #ced7d4;
}
/* .mat-elevation-z8 {
  border: 1px solid #ced7d4;
} */
.mat-mdc-header-row {
  background-color: #ebefee;
}
.mat-mdc-form-field {
  height: 80%;
  width: 60%;
  padding: 5px;
  /* margin: 1px 0; */
}

.my-form-field {
  
  .mat-mdc-form-field-subscript-wrapper {
    position: relative;
    height: 0;
    padding: 0;
  }
  .mat-mdc-form-field-infix {
    min-height: 30px;
  }
  /* .mdc-text-field--outlined{
    --mdc-outlined-text-field-outline-width: 0px
  } */
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    align-self: center;
    padding-top: 2px;
    padding-bottom: 0;
  }
}

::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox--selected
  ~ .mdc-checkbox__ripple {
  background-color: #02a783 !important;
  background: #02a783;
}
::ng-deep .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #02a783;
  --mdc-checkbox-selected-icon-color: #02a783;
  --mdc-checkbox-selected-hover-icon-color: #02a783;
  --mdc-checkbox-selected-pressed-icon-color: #02a783;
}

.custom-select {
  --mat-select-focused-arrow-color: #02a783;
  --mdc-filled-text-field-focus-active-indicator-color: #02a783 !important;
  --mat-option-selected-state-label-text-color: #02a783 !important;
  --mdc-outlined-text-field-focus-outline-color: #02a783;
  --mdc-filled-text-field-focus-label-text-color: #02a783 !important;
}
::ng-deep
  .mat-primary
  .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #02a783;
}

.mat-column-Description {
  line-height: normal;
  width: fit-content;
  word-wrap: break-word;
  overflow-wrap: break-word;

  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  overflow-wrap: break-word;
}

.mat-column-select {
  width: max-content;
}
.mat-column-Pre_Mitigation_score,
.mat-column-Post_Mitigation_score {
  padding: 0;
  .mat-mdc-select-arrow svg {
    transform: translate(-80%,-50%);
  }
  /* width: min-content; */
}
.mat-column-rowNumber {
  width: max-content;
}

tr.mat-row {
  max-height: 5%;
}
.mat-mdc-select{
  align-self: center;
}
