body {
  margin-left: 1%;
  margin-right: 1%;
}
table {
  /* width: 100%; */
  table-layout: fixed;
}
.mat-cell,
.mat-header-cell {
  text-align: center;
  border-right: 1px solid #ced7d4;
}
.mat-elevation-z8 {
  border: 1px solid #ced7d4;
}
.mat-mdc-header-row {
  background-color: #ebefee;
}
.mat-mdc-form-field {
  height: 80%;
  width: 100%;
  margin: 1px 0;
}
.my-form-field {
  .mat-mdc-form-field-subscript-wrapper {
    position: absolute;
  }
}
.description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

tr.mat-row {
  border: 1px solid #faff00;
}
::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox--selected
  ~ .mdc-checkbox__ripple {
  background-color: #02a783 !important;
  background: #02a783;
}
::ng-deep .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #02a783;
  --mdc-checkbox-selected-icon-color: #02a783;
  --mdc-checkbox-selected-hover-icon-color: #02a783;
  --mdc-checkbox-selected-pressed-icon-color: #02a783;
}

.custom-select {
  --mat-select-focused-arrow-color: #02a783;
  --mdc-filled-text-field-focus-active-indicator-color: #02a783 !important;
  --mat-option-selected-state-label-text-color: #02a783 !important;
  --mdc-outlined-text-field-focus-outline-color: #02a783;
}
::ng-deep
  .mat-primary
  .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #02a783;
}

.mat-column-Description {
  max-width: 65px;
  /* background: #000; */

  line-height: normal;
}
.mat-column-select {
  max-width: 30px;
}
.mat-column-Pre_Mitigation_score,
.mat-column-Post_Mitigation_score {
  padding: 0;
}
.mat-column-rowNumber{
  max-width: 40px;
}
.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  cursor: crosshair;
}
