<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="bottom-bar">
      <div id="container">
        <div id="prefix-text">Average Mitigation score:</div>
        <div id="detail1">
          Average Pre-Mitigation Score:
          <span class="value">{{ avgPreMitigationScore }}</span>
        </div>
        <div id="detail2">
          Average Post-Mitigation Score:
          <span class="value">{{ avgPostMitigationScore }}</span>
        </div>
      </div>
    </div>
  </body>
</html>
