.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background: white;
  color: black;
  justify-content: space-between;
}
.createbutton:enabled {
  margin: 10px;
  background-color: #147d64;
  color: white;
}
.createbutton:enabled:hover {
  background-color: #0f5f4c;
}
.createbutton:disabled {
  margin: 10px;
  background-color: white;
  color: gray;
}
.deletebutton:enabled {
  background-color: #e12d39;
  color: white;
}
.deletebutton:enabled:hover {
  background-color: #cf2333;
}
.body {
  justify-content: space-between;
}
.buttons {
  justify-self: flex-end;
}
