.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background: white;
  color: black;
}
.createbutton:enabled {
  margin: 10px;
  color: #02a873;
}
.createbutton:disabled {
  margin: 10px;
  color: lightgray;
}
.deletebutton:enabled {
  color: #e50012;
}
